<div>
  <h2 id="page-heading" data-cy="CourseEnrollmentHeading">
    <span>Course Enrollments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-course-enrollment"
        [routerLink]="['/course-enrollment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Course Enrollment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="courseEnrollments?.length === 0">
    <span>No courseEnrollments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="courseEnrollments && courseEnrollments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="enrollementDate"><span>Enrollement Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastAccessedDate"><span>Last Accessed Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="user.id"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="course.id"><span>Course</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courseEnrollment of courseEnrollments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/course-enrollment', courseEnrollment.id, 'view']">{{ courseEnrollment.id }}</a>
          </td>
          <td>{{ courseEnrollment.enrollementDate | formatMediumDate }}</td>
          <td>{{ courseEnrollment.lastAccessedDate | formatMediumDate }}</td>
          <td>
            {{ courseEnrollment.user?.id }}
          </td>
          <td>
            <div *ngIf="courseEnrollment.course">
              <a [routerLink]="['/course', courseEnrollment.course?.id, 'view']">{{ courseEnrollment.course?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/course-enrollment', courseEnrollment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/course-enrollment', courseEnrollment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(courseEnrollment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="courseEnrollments && courseEnrollments.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
