<div class="content">
  <h2 id="page-heading" data-cy="CourseHeading">
    <span>Courses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh </span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-course"
        [routerLink]="['/course/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Course </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="courses?.length === 0">
    <span>No courses found</span>
  </div>
  <div class="table-responsive" id="entities" *ngIf="courses && courses.length > 0">
    <div jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)" fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let course of courses">
        <mat-card class="outline mat-elevation-z8">
          <mat-card-header>
            <mat-card-title>{{ course.courseTitle }}</mat-card-title>
          </mat-card-header>
          <!--        <img mat-card-image src="./../assets/images/mountains.jpg">-->
          <mat-card-actions>
            <a routerLink="/course/{{course.id}}/view">
              <button mat-button>VIEW</button>
            </a>
            <!--          <button mat-button (click)="onEnroll(course)">ENROLL</button>-->
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

</div>

