<div class="content">
  <h1>Available Categories</h1>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let courseCategory of courseCategories">
      <mdb-card>
        <mdb-card-header>
          <div class="row">
            <div class="col-8">
              <mdb-card-title>{{ courseCategory.courseCategoryTitle }}</mdb-card-title>
              <br />
              <mdb-card-title>Course Count: {{ map.get(courseCategory.id!.toString()) }}</mdb-card-title>
            </div>
            <div class="col-4">
              <a routerLink="/courses/{{ courseCategory.id }}">
                <button mat-button class="btn btn-info btn-sm" style="padding-left: 20px">
                  <fa-icon icon="eye"></fa-icon> &nbsp; VIEW
                </button>
              </a>
            </div>
          </div>
        </mdb-card-header>
        <!--        <img mat-card-image src="./../assets/images/mountains.jpg">-->
        <!--        <mdb-card-body>-->
        <!--          <a routerLink="/courses/{{ course.id }}">-->
        <!--            <button mat-button class="btn btn-info btn-sm">-->
        <!--              <fa-icon icon="eye"></fa-icon> &nbsp; VIEW-->
        <!--            </button>-->
        <!--          </a>-->
        <!--        </mdb-card-body>-->
      </mdb-card>
    </div>
  </div>
</div>
