<div>
  <h2 id="page-heading" data-cy="CourseSectionHeading">
    <span>Course Sections</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-primary mr-2" (click)="onClickBack()">
        <fa-icon icon="arrow-left"></fa-icon>
        <span>Back to Courses</span>
      </button>

      <button class="btn btn-info mr-2" (click)="loadPage()">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-course-section"
        (click)="addSection()"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Course Section </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="courseSections?.length === 0">
    <span>No course sections found</span>
  </div>

  <div id="entities" *ngIf="courseSections && courseSections.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [callback]="loadPage.bind(this)">
          <th scope="col"><span>Section Order</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"><span>Section Title</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"><span>Section Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courseSection of courseSections; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['section', courseSection.id, 'sessions']">{{ courseSection.sectionOrder }}</a>
          </td>
          <td>{{ courseSection.sectionTitle }}</td>
          <td>{{ courseSection.sectionDescription }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['section', courseSection.id, 'sessions']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View Session(s)</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/course-section', courseSection.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(courseSection)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
