<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-course-enrollment-heading" data-cy="CourseEnrollmentCreateUpdateHeading">Create or edit a Course Enrollment</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('id')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_enrollementDate">Enrollement Date</label>
          <div class="input-group">
            <input
              id="field_enrollementDate"
              data-cy="enrollementDate"
              type="text"
              class="form-control"
              name="enrollementDate"
              ngbDatepicker
              #enrollementDateDp="ngbDatepicker"
              formControlName="enrollementDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="enrollementDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('enrollementDate')!.invalid &&
              (editForm.get('enrollementDate')!.dirty || editForm.get('enrollementDate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('enrollementDate')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_lastAccessedDate">Last Accessed Date</label>
          <div class="input-group">
            <input
              id="field_lastAccessedDate"
              data-cy="lastAccessedDate"
              type="text"
              class="form-control"
              name="lastAccessedDate"
              ngbDatepicker
              #lastAccessedDateDp="ngbDatepicker"
              formControlName="lastAccessedDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="lastAccessedDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('lastAccessedDate')!.invalid &&
              (editForm.get('lastAccessedDate')!.dirty || editForm.get('lastAccessedDate')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('lastAccessedDate')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_course">Course</label>
          <select class="form-control" id="field_course" data-cy="course" name="course" formControlName="course">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="courseOption.id === editForm.get('course')!.value?.id ? editForm.get('course')!.value : courseOption"
              *ngFor="let courseOption of coursesSharedCollection; trackBy: trackCourseById"
            >
              {{ courseOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
