<div class="row">
  <div class="col-md-12">
    <h1 class="display-4" style="color: black">Welcome to CHARUVIDYA!</h1>
    <div [ngSwitch]="isAuthenticated()">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-4 overview">
      <h2>Total Courses: {{ overview.get('totalCourses') }}</h2>
    </div>
    <div class="col-4 overview">
      <h2>Total Enrollments: {{ overview.get('totalEnrollments') }}</h2>
    </div>
    <div class="col-4 overview">
      <h2>Total Instructors: {{ overview.get('totalInstructors') }}</h2>
    </div>
  </div>
  <h1 style="text-align: center">Recently added Courses</h1>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let course of courses">
      <div class="mat-card">
        <img src="{{ course.logo }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <span class="mat-card-title">{{ course.courseTitle }}</span>
          <br />
          <p class="mat-card-content">
            <fa-icon [icon]="faUserTie"></fa-icon>
            Instructor : {{ course.user!.firstName }}
          </p>
          <h6><fa-icon [icon]="faCalendarCheck"></fa-icon> {{ course.courseCreatedOn }}</h6>
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="login(course.id)">
            <fa-icon [icon]="faEye"></fa-icon>
            Enroll
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
