/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

.col-md-12 {
  text-align: center;
}
//
//.row {
//  height: 10vh;
//  background-image: url('../../content/images/backgorund-2.jpg');
//  background-size: cover;
//}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

.register {
  position: absolute;
  bottom: 10px;
}

.overview {
  text-align: center;
}

@import url(https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
.container-fluid {
  display: flex;
}
.card {
  width: 20rem;
  margin: 25px;
}
.card span {
  font-size: 18px;
  font-weight: bold;
  justify-content: space-around;
}
.card p {
  margin-top: 7px;
}
.card h6 {
  font-size: 15px;
}
.card h6 i {
  content: '\f274';
}
.card p i {
  content: '\f508';
}

.card button i {
  content: '\f06e';
}
