<div class="row">
  <div class="col-md-12">
    <h1 class="display-4 mt-5" style="color: black">Welcome to CHARUVIDYA!</h1>
    <div [ngSwitch]="isAuthenticated()">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-4 overview">
      <h2>Total Courses: {{ overview.get('totalCourses') }}</h2>
    </div>
    <div class="col-4 overview">
      <h2>Total Enrollments: {{ overview.get('totalEnrollments') }}</h2>
    </div>
    <div class="col-4 overview">
      <h2>Total Instructors: {{ overview.get('totalInstructors') }}</h2>
    </div>
  </div>
  <h1 style="text-align: center">Recently added Courses</h1>
  <div class="container-fluid grid">
    <div class="row courses-card-width">
      <div class="card" *ngFor="let course of courses">
        <img src="{{ course.logo }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <span class="mat-card-title">
            <span *ngIf="course.courseTitle!.length > 20; else elseBlock" matTooltip="{{ course.courseTitle }}">
              {{ course.courseTitle!.slice(0, 20) }}...
            </span>
            <ng-template #elseBlock>
              {{ course.courseTitle }}
            </ng-template>
          </span>
          <br />
          <p class="card-text">
            <fa-icon [icon]="faUserTie"></fa-icon>
            Instructor : {{ course.user!.firstName }}
          </p>
          <p>
            <fa-icon [icon]="faUserFriends"></fa-icon>
            {{ course.minStudents }}
          </p>
          <h6><fa-icon [icon]="faCalendarCheck"></fa-icon> {{ course.courseCreatedOn }}</h6>
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="login(course.id)">
            <fa-icon [icon]="faEye"></fa-icon>
            Enroll
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
