<div class="content">
  <h1>Available Courses</h1>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let course of courses">
      <mdb-card>
        <mdb-card-header>
          <mdb-card-title>{{ course.courseTitle }}</mdb-card-title>
        </mdb-card-header>
        <!--        <img mat-card-image src="./../assets/images/mountains.jpg">-->
        <mdb-card-body>
          <a routerLink="/course/{{ course.id }}/view">
            <button mat-button class="btn btn-info btn-sm"><fa-icon icon="eye"></fa-icon> &nbsp; VIEW</button>
          </a>
          <!--          <button mat-button (click)="onEnroll(course)">ENROLL</button>-->
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
