.content {
  padding: 16px;
}

.outline {
  border-style: solid;
  border-width: thin;
}

.content > mat-card {
  margin-bottom: 16px;
}

.mat-button {
  text-align: center;
}

.register {
  position: absolute;
  bottom: 10px;
}

@import url(https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
.container-fluid {
  display: flex;
}
.card {
  width: 20rem;
  margin: 25px;
}
.card span {
  font-size: 18px;
  font-weight: bold;
  justify-content: space-around;
}
.card p {
  margin-top: 7px;
}
.card h6 {
  font-size: 15px;
}
.card h6 i {
  content: '\f274';
}
.card p i {
  content: '\f508';
}

.card button i {
  content: '\f06e';
}
