<div class="content">
  <h1>Available Courses</h1>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let course of courses">
      <mdb-card style="height: 500px">
        <mdb-card-header>
          <mdb-card-title>{{ course.courseTitle }}</mdb-card-title>
          <br />
          <mdb-card-title *ngIf="course.user"><b>Instructor :</b> {{ course.user.firstName }}</mdb-card-title>
          <br />
          <mdb-card-title *ngIf="course.courseCreatedOn"><b>Created On :</b> {{ course.courseCreatedOn }}</mdb-card-title>
          <br />
          <mdb-card-title *ngIf="studentCount"
            ><b>Student Enrolled :</b> {{ generateRandomNumber(course.minStudents, course.maxStudents) }}</mdb-card-title
          >
        </mdb-card-header>
        <img mat-card-image src="{{ course.logo }}" style="object-fit: contain" />
        <mdb-card-body>
          <a routerLink="/course/{{ course.id }}/user/sections">
            <div *ngIf="course.enrolled">
              <button mat-button class="btn btn-info btn-sm"><fa-icon icon="eye"></fa-icon> &nbsp; VIEW</button>
            </div>
          </a>
          <a routerLink="/course/{{ course.id }}/user/sections">
            <div *ngIf="!course.enrolled">
              <button mat-button class="btn btn-info btn-sm" (click)="onEnroll(course)"><fa-icon icon="eye"></fa-icon> ENROLL</button>
            </div>
          </a>
          <!--          <button mat-button (click)="onEnroll(course)">ENROLL</button>-->
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
